$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$background-color: rgb(243, 243, 243);
$popup-background-color: rgba(0, 0, 0, 0.462);

$s: 12px;
$m: 14px;
$l: 16px;
$xl: 18px;
$xxl: 20px;
